name: Build

on: workflow_dispatch 

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        #os: [ubuntu-latest]
        # manylinux wheel had problem with absolute path to alsa system, so better to build from source which always works
        # os: [windows-latest, macos-13, macos-14]
        os: [ubuntu-latest]
        # os: [ubuntu-latest, windows-latest, macos-13, macos-14]
        # macos-13: macos intel
        # macos-14: macos M1
        # see https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
        

    steps:
      - uses: actions/checkout@v4

      # - name: Install build tools on Ubuntu
      #   if: runner.os == 'Linux'
      #   run: sudo apt-get update && sudo apt-get install -y libasound2-dev

      # Used to host cibuildwheel
      - uses: actions/setup-python@v5
              
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.18.0

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        # https://github.com/pypa/cibuildwheel
        # to supply options, put them in 'env', like:
        # env:
        #   CIBW_SOME_OPTION: value
        env:
          # Skip CPython 3.6 and CPython 3.7
          # CIBW_SKIP: cp36-* cp37-* *-musllinux_*
          CIBW_SKIP: cp36-* cp37-* cp38-*
          CIBW_BUILD_FRONTEND: "build"
          CIBW_BEFORE_ALL_LINUX: yum install -y alsa-lib-devel
          CIBW_ENVIRONMENT_LINUX: LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH CFLAGS="-I/usr/local/include" LDFLAGS="-L/usr/local/lib"
          

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
